@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552614243095'); /* IE9 */
  src: url('iconfont.eot?t=1552614243095#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABogAAAJnAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBFIEkATYCJAMICwYABCAFhG0HLhvIBRHVk0tkPw5ys9H9kGmmEjRLTtpJ/OfgebT7/twk8zaDBSt+UKwkVDDaWZzz4GpUhBrJW/ToCyngluUUAAZcTv+/AgpkHlBue9KYA8cEDCwNdKxBkRVK4A1jF7iE4xDAI538SPWa9ZtjMVjjBJD+fXp1weY8GAyLW4RIzVKDLMbBqjnqFrAo/L58oahYUDgaq6hxzxrdqfy+lJ2kJ4eT2/sEXhDQagfQQH7AgDSvjTREI4yp8SKGrLCvfIH3pcLQNyN7NSDsr7NyAwBSofCeRK74VnMVACbuLQJUGHUnqLgs7by521CTtyf7R89m6Ck7BogjZ0Q2nilZF+bu3ebLm0rW+Pfutbj3oJV63Z1X3QKCywH7inKK5QEzE0ZyM+sluUmRaPAjRkqT9mNqqXMEc4OfQYeoCYWUGmI2VduP+3+KygCEN/QBXRQBBK5vfak6xZb/Z30DwMP92buFrvCGoZ8N7FmsAn9L1LPF6BLLpIwqqrUpiowaqwAPDwjBjgSej9Um31pCsCTfoC2KtBQaS3bSMPLDwac4IlgqwSMftVb7JDIUjRgXyMsMACGOvVDEcBaaOG6ThvEMDil8Q4Q40fBoKYlb+uQUJ4gjoWQ0oP4QdKvWsbCI8m/o3llSVhKyXkhr8MPYDcX4FSvSHDPWj5uYLVhqBS7gNMy5wUwtoubOM8+Hvrd1b+p0KxtBNULJaED9IehWrd+dRenzN3TvLKmlosb/QlpD/zB2Qw/yqqy9Ku7llfXjJmYLllqBCxiEOTeY6wdF1Nz5EaH50NudbF9lt766fEABq8HSKbHLNaZ/SLjZAAA=') format('woff2'),
  url('iconfont.woff?t=1552614243095') format('woff'),
  url('iconfont.ttf?t=1552614243095') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552614243095#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-like:before {
  content: "\e637";
}

[class^="el-icon-like"], [class*=" el-icon-like"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

